@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap");
* {
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all ease-in 0.5s;
}

.nav-contents {
    display: flex;
    justify-content: space-between;
}

.logo {
    position: fixed;
    left: 0;
    width: 80px;
    cursor: pointer;
    padding-left: 20px;
    top: 15px;
    object-fit: contain;
}

button {
    position: fixed;
    right: 20px;
    background-color: hsl(0, 100%, 35%);
    font-family: "Rubik";
    padding: 10px 10px 10px 10px;
    color: white;
    border: none;
    width: 6rem;
    top: 15px;
    cursor: pointer;
}