.login {
    background-color: black;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url("/public/auth_bg.jpg");
    background-size: cover;
    color: white;
}

.contents {
    z-index: 1;
    background: linear-gradient( to top, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box {
    font-family: "Rubik";
}

.title {
    margin: "10px 0 10px 0";
    font-size: 3rem;
}

.paragraph h2,
.paragraph h3 {
    font-size: 1.3em;
    font-weight: 400;
    margin: 10px 0 20px 0;
}

.input {
    color: white;
}