@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap");
.banner {
    position: relative;
    color: white;
    font-family: rubik;
    object-fit: contain;
    height: 35rem;
}

.banner-content {
    padding-top: 150px;
    padding-left: 20px;
}

.header {
    font-size: 20px;
}

.buttons {
    padding: 20px 0 20px 0;
    display: flex;
    margin: 20px 0 20px 0;
}

.btn {
    width: 120px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 30%);
    cursor: pointer;
    outline: none;
    border: none;
    margin-right: 1rem;
    color: white;
    transition: all 0.3s ease-in;
}

.btn:hover {
    transition: all 0.3s ease-in;
    background-color: hsl(0, 0%, 100%);
    color: black;
}

.btn-1 {
    margin-right: 10px;
}

.description {
    padding-bottom: 50px;
    width: 50%;
    height: 5rem;
    text-shadow: 4px 2px 3px black;
}

.fade {
    margin-left: 0;
    height: 7.4rem;
    background-image: linear-gradient( 180deg, transparent, rgba(37, 37, 37, 0.61), black);
}

.right {
    height: 25rem;
    width: 3rem;
    background-color: rgba(0, 0, 0, 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    float: right;
    transition: all 0.2s ease-in;
    bottom: 350px;
}

.right:hover {
    box-shadow: 0 0 2px 2px grey;
    transition: all 0.2s ease-in;
}


/* responsive media query */

@media only screen and (max-width: 459px) {
    .description {
        width: 70%;
    }
    .header {
        font-size: 1rem;
    }
    .banner {
        height: 40rem;
    }
    .fade {
        height: 13rem;
    }
    .btn {
        width: 80px;
        font-size: 17px;
        border-radius: 2px;
    }
}